<div class="">
  <div id="unsupported" class="hidden pt-48 py-32">
    <div class="border border-red-200 py-6 px-48">
      <div class="font-semibold text-red-700 px-32">
        Unfortunately, this browser does not support passkeys.
      </div>
    </div>
  </div>
  <div class="flex justify-evenly mt-8 mx-4 pt-8">
    <div class="absolute top-0 right-0 mt-10 mx-6">
      <img class="hidden md:block" src="assets/logos/logo.svg" alt="logo">
    </div>

    <div id="main" class="flex flex-col w-3/4 h-screen">
      <div class="flex place-content-center">
        <form method="post">
          <div class="">           
            <input
              [(ngModel)]="username" [ngModelOptions]="{standalone: true}" ng-disabled="false" ng-model="input" #uid
              id="username"
              name="username"
              type="text"
              value=""
              placeholder="Enter your username"
              autofocus
              aria-autocomplete="none"
              autocomplete="webauthn"
              autocapitalize="no"
              size="32"
              maxlength="32"
              [readonly]="disableUsername"
              class="shadow appearance-none border mb-12 p-2 rounded text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            />
          </div>
          <div class="pt-8 center">
            <!-- (keyup.code.enter)="submission($event)" -->
          <button          
            (click)="submission()" #submitBtn
            id="submitBtn"
            data-next="submit"
            class="bg-purple-500 text-white font-normal lg:font-semibold rounded focus:outline-none focus:shadow-outline px-2 py-1 w-24"
            type="button"
          >
            Submit
          </button>

          <button
          (click)="reset()"
            id="resetBtn"
            data-next="reset"
            class="bg-gray-500 text-white font-normal lg:font-semibold rounded focus:outline-none focus:shadow-outline px-2 py-1 ml-2 w-24"
            type="button"
          >
            Reset
          </button>
        </div>
        </form>
      </div>

      <hr size="1" class="mt-48 border-purple-400" />

      <div class="text-base font-light mt-8 text-gray-700 max-w-max ">
        <div class="flex place-content-center">
          <div class="align-middle">
            <span #msg id="msg">If you've previously enrolled, you may <a href='#' (click)="authenticate()" class="underline" data-next='sign_in'>sign in</a>.
            </span>
            <p>&nbsp;</p>
            <span id="authAgain" class="hidden">You can sign in <a href="#" class="underline" data-next="sign_in">again</a>!</span>
            <p>&nbsp;</p>
            <p>{{canWebauthn}} browser supports webauthn.</p>
            <p>{{hasPlatformAuthenticator}} browser has platform authenticator.</p>
            <p>{{canAutofill}} browser supports autofill.</p>             </div>
        </div>
      </div>
      <div id="credentials" class="p-4"></div>
      <div class="text-base font-light mt-8 text-gray-700 max-w-max ">
      </div>
    </div>
  </div>
</div>
